<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

  @for (course of courses; track course.id;
    let index = $index;
    let count = $count;
    let first = $first;
    let last = $last) {

    <course-card
      [course]="course"
      [index]="index"
      [clas.is-first] = "first"
      [clas.is-last] = "last"
      (courseSelected)="onCourseSelected($event)"/>
  }
  @empty {
    <h1>No courses found!</h1>
  }

</div>


