<div class="top-menu">

    <img class="logo" alt="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

  <!-- @for (course of courses; track trackCourse; -->

  @for (course of courses; track course.id;
    let index = $index;
    let last = $last;
    let even = $even;
    ) {

    <course-card
      [course]="course"
      [index]="index"
      [class.is-first] = $first
      [class.is-last] = last
      [class.is-even] = "even"
      [class.is-odd] = $odd
      (courseSelected)="onCourseSelected($event)"/>
  }
  @empty {
    <h1>No courses found!</h1>
  }

</div>


